<div>
	<table class="login"
				 ng-show="!registering">
		<tr>
			<td>
				<div>username:</div>
				<input autofocus type="text" ng-model="username" required="true"/>
			</td>
			<td>
				<div>password:</div>
				<input type="password" ng-model="password" required="true"/>
				<div class="button"><button ng-click=login()>Login</button>
			</td>
		</tr>
		<tr>
			<td class="submit">
				<a href="" ng-click="toggleRegistering()">register</a>
			</td>
		</tr>
	</table>
	<table ng-show="registering">
		<tr>
			<td class="title">
				<span>Register</span>
			</tr>
		</tr>
		<tr>
			<td>
				<div>username:</div>
				<input type="text" ng-model="username" required="true"/>
			</td>
			<td>
					<div>password</div>
					<input type="password" ng-model="password" required="true"/>
			</td>
			<td>
				<div>verify password:</div>
				<input type="password" ng-model="repeatPassword" required="true"/>
			</td>
		</tr>
		<tr>
			<td class="submit">
				<a href=""
					 ng-class="{disabled: registerDisabled()}"
					 ng-click="register()">register</a>
				<a href="" ng-click="toggleRegistering()">cancel</a>
			</td>
		</tr>
	</table>
	<div class="error">{{errorMessage}}</div>
</div>
