<div class="player">
	<div style="float: left;"
			 ng-class="{current: player.isCurrent}">
		<div class="header">
			<div style="float: left;">
				{{player.name}}
			</div>
			<div style="float: right;">
				${{player.money}}
			</div>
		</div>
		<table>
			<tr>
				<th>Locomotive type</th>
				<th>Capacity</th>
				<th/>
				<th/>
				<th>Sold</th>
			</tr>
			<tr ng-repeat="factory in player.factories"
					ng-controller="FactoryCtrl"
					class="{{loco.kind}}">
				<td>{{loco.name}} ({{generation(loco.generation)}})</td>
				<td style="text-align: right;">{{factory.capacity}}</td>
				<td>
					<input type="button"
								 ng-disabled="expandDisabled() || !player.isCurrent"
								 ng-click="expand()"
								 value="expand"/>
				</td>
				<td>
					<input type="button"
								 ng-disabled="upgradeDisabled() || !player.isCurrent"
								 ng-click="upgrade()"
								 value="upgrade"/>
				</td>
				<td style="text-align: right;">{{factory.unitsSold}}</td>
				<td>
					<input type="button"
								 ng-disabled="sellDisabled() || !player.isCurrent"
								 ng-click="sell()"
								 value="sell"/>
				</td>
			</tr>
		</table>
	</div>
	<button ng-show="player.isCurrent" style="float:right;">Done</button>
</div>
